<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

	<display-name>ClinicPet</display-name>

	<servlet>
		<servlet-name>PersonViewServlet</servlet-name>
		<servlet-class>kz.petsclinic.servlets.PersonViewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PersonViewServlet</servlet-name>
		<url-pattern>/person/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PersonCreateServlet</servlet-name>
		<servlet-class>kz.petsclinic.servlets.PersonCreateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PersonCreateServlet</servlet-name>
		<url-pattern>/person/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PersonEditServlet</servlet-name>
		<servlet-class>kz.petsclinic.servlets.PersonEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PersonEditServlet</servlet-name>
		<url-pattern>/person/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PersonFindServlet</servlet-name>
		<servlet-class>kz.petsclinic.servlets.PersonFindServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PersonFindServlet</servlet-name>
		<url-pattern>/person/find</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PersonDeleteServlet</servlet-name>
		<servlet-class>kz.petsclinic.servlets.PersonDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PersonDeleteServlet</servlet-name>
		<url-pattern>/person/delete</url-pattern>
	</servlet-mapping>
</web-app>     